*.log
logs/
npm-debug.log*
node_modules/
dist/
build/
.DS_Store
.env
.env.local
.env.*.local
__pycache__/
.vscode/settings.json
.idea/
*.sublime-workspace
.history/
.env.production.local
coverage/
uploads/
